#calibre-nav {
    /* background-image: linear-gradient(rgb(19, 33, 69), rgb(34, 75, 151)) !important; */
    background-image: linear-gradient(rgb(113, 157, 207), rgb(71, 120, 211)) !important;
}


.navbar {
    height: 47px;      /* set the navbar height : original 50px*/
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;  /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.iframe-container {
    float: none;
    clear: both;
    width: 100%;
    overflow: hidden;
    padding-top: 58%;   /* 56.25% */
    position: relative;
  }
  
.iframe-container iframe { 
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }


/*
*  Scrollabar Style
*
*/
.scrollbar-morpheus-den::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-morpheus-den::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-morpheus-den::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
    background-image: -webkit-linear-gradient(bottom, #330867 0%, #30cfd0 100%);
    background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%); 
}

.my-custom-scrollbar {
    position: relative;
    height: 100px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#buttonVertical {
    /* background-color:rgb(19, 33, 69, 0.9) !important; */
    background-image: linear-gradient(rgb(19, 33, 69), rgb(34, 75, 151)) !important;
}