#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  #formDiv {
    width: 100%;
    margin-bottom: 8px;
  }

  .esri-item-list__scroller {
    overflow-y: visible;
  }

  .editArea-container {
    background: white;
    line-height: 1.5em;
    overflow: auto;
    padding: 12px 15px;
    width: 300px;
  }

  .list-heading {
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #323232;
  }

  .or-wrap {
    background-color: #e0e0e0;
    height: 1px;
    margin: 2em 0;
    overflow: visible;
  }

  .or-text {
    background: #fff;
    line-height: 0;
    padding: 0 1em;
    position: relative;
    bottom: 0.75em;
  }

  /* override default styles */
  .esri-feature-form {
    background: #fff;
  }

  .esri-feature-templates {
    width: 256px;
  }

  .esri-feature-templates__section-header {
    display: none;
  }

  .esri-feature-templates__section {
    box-shadow: none;
  }

  .esri-feature-templates__scroller {
    max-height: 200px;
  }

  .editArea {
    background-color: white;
  }

  .esri-widget--panel {
    background: white;
  }

  #deleteArea {
    margin-top: 6px;
  }